<div class="container-fluid bg-info footerContainer">
    <div class="row">
        <div class="col">
            footer
        </div>
        <div class="col">
            logo
        </div>
        <div class="col">
            copyright
        </div>
    </div>
</div>