    <section class="heroimage bg-primary">
        <div class="container pt-5">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Nadpis</h1>
                </div>
            </div>
            <div class="row">
                <div class="col pt-3">
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolor, 
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-5 bg-danger">
        <div class="container">
            <div class="row">
                <div class="col">sometext</div>
                <div class="col">sommme text</div>
                <div class="col">tttttt</div>
            </div>
            <div class="row pt-3">
                <div class="col">123456</div>
                <div class="col">98745</div>
                <div class="col">456456</div>
            </div>
            <div class="row pt-3">
                <div class="col">asdf</div>
                <div class="col">fda</div>
                <div class="col">123</div>
            </div></div>
    </section>
    <section class="bg-info pt-5">
        <div class="container">
            <div class="row">
                <div class="col">Kontaktní formulář</div>
            </div>
        </div>
    </section>
