
<section class="heroimage bg-primary">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Nadpis</h1>
            </div>
        </div>
        <div class="row">
            <div class="col pt-3">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolor, 
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 bg-danger">
    <div class="container">
        <div class="row my-2">
            <div class="col">
                <h2 class="text-center">
                    S kým spolupracujeme
                </h2>
            </div>
        </div>
        <div class="row ">
            <div class="card mx-2" style="width: 12rem;">
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top rounded-pill pt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top rounded-circle pt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card mx-2" style="width: 12rem;">
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top pt-2" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
    </div>
</section>
<section class="bg-info pt-5">
    <div class="container">
        <div class="row">
            <div class="col">Kontaktní formulář</div>
        </div>
    </div>
</section>
